#hornavmenu {
    display: inline-flex !important;
}

.portfolio-group figure img {
    width: 371px;
    height: 264px;
}

.portfolio-item figcaption {
    height: 171px;
}

.slick-prev {
    left: -60px;
}

.slick-next {
    right: -35px;
}


    .slick-prev:before, .slick-next:before {
        font-size: 50px;
    }
