﻿@using WebNetCore.Models
@model HomeModel

<div id="body-bg">
    <ul class="social-icons pull-right hidden-xs">
        <li class="social-rss">
            <a href="#" target="_blank" title="RSS"></a>
        </li>
        <li class="social-twitter">
            <a href="#" target="_blank" title="Twitter"></a>
        </li>
        <li class="social-facebook">
            <a href="#" target="_blank" title="Facebook"></a>
        </li>
        <li class="social-googleplus">
            <a href="#" target="_blank" title="GooglePlus"></a>
        </li>
    </ul>
    <div id="pre-header" class="container" style="height:340px">
    </div>
    <div id="header">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="logo">
                    <a href="index.html" title="">
                        <img src="/images/logo.png" alt="Logo" />
                    </a>
                </div>
                <!-- End Logo -->
            </div>
        </div>
    </div>
    <!-- Top Menu -->
    <div id="hornav" class="container no-padding">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="text-center visible-lg"> 
                        @Html.React("MenuTopo", new { data = Model.MenuModel });
                
                </div>
            </div>
        </div>
    </div>





        @*<span class="fa-gears">Features</span>
        <span class="fa-copy">Pages</span>
        <span class="fa-th">Portfolio</span>
        <span class="fa-font">Blog</span>
        <span class="fa-comment">Contact</span>*@
 
    <!-- End Top Menu -->
    <div id="post_header" class="container" style="height:340px">
    </div>
    <div id="content-top-border" class="container">
    </div>
    <!-- === END HEADER === -->
    <!-- === BEGIN CONTENT === -->
    <div id="content">
        <div class="container no-padding">
            <div class="row">
                <!-- Carousel Slideshow -->
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <!-- Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>
                    <div class="clearfix"></div>
                    <!-- End Carousel Indicators -->
                    <!-- Carousel Images -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/images/slideshow/slide1.jpg">
                        </div>
                        <div class="item">
                            <img src="/images/slideshow/slide2.jpg">
                        </div>
                        <div class="item">
                            <img src="/images/slideshow/slide3.jpg">
                        </div>
                        <div class="item">
                            <img src="/images/slideshow/slide4.jpg">
                        </div>
                    </div>
                    <!-- End Carousel Images -->
                    <!-- Carousel Controls -->
                    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <!-- End Carousel Controls -->
                </div>
                <!-- End Carousel Slideshow -->
            </div>
        </div>
        <div class="container background-gray-lighter">
            <div class="row margin-vert-40">
                <div class="col-md-4">
                    <div class="col-md-4">
                        <i class="fa-clock-o fa-5x color-primary"></i>
                    </div>
                    <div class="col-md-8">
                        <h2 class="margin-top-5 margin-bottom-0">3,474.5</h2>
                        <p>WORKING HOURS</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <i class="fa-tachometer fa-5x color-primary"></i>
                    </div>
                    <div class="col-md-8">
                        <h2 class="margin-top-5 margin-bottom-0">3,474.5</h2>
                        <p>WORKING HOURS</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <i class="fa-users fa-5x color-primary"></i>
                    </div>
                    <div class="col-md-8">
                        <h2 class="margin-top-5 margin-bottom-0">3,474.5</h2>
                        <p>WORKING HOURS</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container background-white">
            <div class="row margin-vert-30">
                <!-- Main Text -->
                <div class="col-md-12">
                    <h2 class="text-center">Welcome to LifeStyle</h2>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                        lobortis nisl ut aliquip ex ea commodo consequat.
                    </p>
                    <p class="text-center">
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
                        augue duis dolore te feugait nulla facilisi. Cras non sem sem, at eleifend mi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Curabitur eget nisl
                        a risus.
                    </p>
                </div>
                <!-- End Main Text -->
            </div>
        </div>
        <div class="container background-gray-lighter">
            <div class="row padding-vert-20">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <!-- Portfolio -->
                    <ul class="portfolio-group">
                        <!-- Portfolio Item -->
                        <li class="portfolio-item col-sm-6 col-xs-6 padding-20">
                            <a href="#">
                                <figure class="animate fadeInLeft">
                                    <img alt="image1" src="/images/frontpage/image1.jpg">
                                    <figcaption>
                                        <h3>Placerat facer possim</h3>
                                        <span>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <!-- //Portfolio Item// -->
                        <!-- Portfolio Item -->
                        <li class="portfolio-item col-sm-6 col-xs-6 padding-20">
                            <a href="#">
                                <figure class="animate fadeInRight">
                                    <img alt="image2" src="/images/frontpage/image2.jpg">
                                    <figcaption>
                                        <h3>Placerat facer possim</h3>
                                        <span>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <!-- //Portfolio Item// -->
                        <!-- Portfolio Item -->
                        <li class="portfolio-item col-sm-6 col-xs-6 padding-20">
                            <a href="#">
                                <figure class="animate fadeInLeft">
                                    <img alt="image3" src="/images/frontpage/image3.jpg">
                                    <figcaption>
                                        <h3>Placerat facer possim</h3>
                                        <span>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <!-- //Portfolio Item// -->
                        <!-- Portfolio Item -->
                        <li class="portfolio-item col-sm-6 col-xs-6 padding-20">
                            <a href="#">
                                <figure class="animate fadeInRight">
                                    <img alt="image4" src="/images/frontpage/image4.jpg">
                                    <figcaption>
                                        <h3>Placerat facer possim</h3>
                                        <span>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <!-- //Portfolio Item// -->
                        <!-- Portfolio Item -->
                        <li class="portfolio-item col-sm-6 col-xs-6 padding-20">
                            <a href="#">
                                <figure class="animate fadeInLeft">
                                    <img alt="image5" src="/images/frontpage/image5.jpg">
                                    <figcaption>
                                        <h3>Placerat facer possim</h3>
                                        <span>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <!-- //Portfolio Item// -->
                        <!-- Portfolio Item -->
                        <li class="portfolio-item col-sm-6 col-xs-6 padding-20">
                            <a href="#">
                                <figure class="animate fadeInRight">
                                    <img alt="image6" src="/images/frontpage/image6.jpg">
                                    <figcaption>
                                        <h3>Placerat facer possim</h3>
                                        <span>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui et everti tamquam suavitate mea.</span>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <!-- //Portfolio Item// -->
                    </ul>
                    <!-- End Portfolio -->
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="container background-white">
            <div class="row padding-vert-40">
                <div class="col-md-12">
                    <h2 class="animate fadeIn text-center">WE ARE CURRENTLY HIRING!</h2>
                    <p class="animate fadeIn text-center">If you like to work with a creative team in a lively and friendly enviroment then call us today!.</p>
                    <p class="animate fadeInUp text-center">
                        <button class="btn btn-primary btn-lg" type="button">View Details</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    <div id="content-bottom-border" class="container">
    </div>
    <div id="base">
        <div class="container padding-vert-30 margin-top-60">
            <div class="row">
                <!-- Contact Details -->
                <div class="col-md-4 margin-bottom-20">
                    <h3 class="margin-bottom-10">Contact Details</h3>
                    <p>
                        <span class="fa-phone">Telephone:</span>(212)888-77-88
                        <br>
                        <span class="fa-envelope">Email:</span>
                        <a href="mailto:info@joomla51.com">info@joomla51.com</a>
                        <br>
                        <span class="fa-link">Website:</span>
                        <a href="http://www.joomla51.com">www.joomla51.com</a>
                    </p>
                    <p>
                        The Dunes, Top Road,
                        <br>Strandhill,
                        <br>Co. Sligo,
                        <br>Ireland
                    </p>
                </div>
                <!-- End Contact Details -->
                <!-- Sample Menu -->
                <div class="col-md-3 margin-bottom-20">
                    <h3 class="margin-bottom-10">Sample Menu</h3>
                    <ul class="menu">
                        <li>
                            <a class="fa-tasks" href="#">Placerat facer possim</a>
                        </li>
                        <li>
                            <a class="fa-users" href="#">Quam nunc putamus</a>
                        </li>
                        <li>
                            <a class="fa-signal" href="#">Velit esse molestie</a>
                        </li>
                        <li>
                            <a class="fa-coffee" href="#">Nam liber tempor</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- End Sample Menu -->
                <div class="col-md-1"></div>
                <!-- Disclaimer -->
                <div class="col-md-3 margin-bottom-20 padding-vert-30 text-center">
                    <h3 class="color-gray margin-bottom-10">Join our Newsletter</h3>
                    <p>
                        Sign up for our newsletter for all the
                        <br>latest news and information
                    </p>
                    <input type="email">
                    <br>
                    <button class="btn btn-primary btn-lg margin-top-20" type="button">Subscribe</button>
                </div>
                <!-- End Disclaimer -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div> 
    <!-- TESTE -->
    @await Html.PartialAsync("Footer")
    <!-- TESTE -->
</div>



@*<div id="content">
     @Html.React("CommentBox", new
    {
        data = Model.CommentModel,
        url = Url.Action("Comments"),
        submitUrl = Url.Action("AddComments"),
        pollInterval = 5000,
    })
    </div>*@
