﻿@using WebNetCore.Models
@using Microsoft.AspNetCore.Hosting;
@inject IHostingEnvironment env
@model BaseModel
@{
    Layout = null;
}
<html>
<head>
    <title>Web NetCore and React</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Installation Documentation for your Bootstrap Template" />
    <meta name="keywords" content="boostrap, template, documentaion" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <bundle name="wwwroot/css/bundles/bundledStyles.min.css" /> 
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

</head>

<body>

    <script>
        console.log('Current Environment: @env.EnvironmentName');
    </script>

    @RenderBody()


    <environment names="Development">
        <bundle name="wwwroot/js/bundles/bundledReactScripts.dev.min.js" />
    </environment>

    <environment names="Staging,Production">
        <bundle src="wwwroot/js/bundles/bundledReactScripts.min.js" />
    </environment>

    <bundle name="wwwroot/js/bundles/bundledScripts.min.js" />

    @*<script src="~/js/bundles/bundledJSX.min.js" asp-append-version="true"></script>

        @Html.ReactInitJavaScript()*@
</body>
</html> 